InheritParentConfig: true
Checks: |
  llvm-include-order,
  llvm-namespace-comment,
  llvm-prefer-isa-or-dyn-cast-in-conditionals,
  llvm-prefer-register-over-unsigned,
  llvm-prefer-static-over-anonymous-namespace,
  -misc-use-anonymous-namespace,
  llvm-twine-local
