# Copyright (c) 2023 - 2026 Chair for Design Automation, TUM
# Copyright (c) 2025 - 2026 Munich Quantum Software Company GmbH
# All rights reserved.
#
# SPDX-License-Identifier: MIT
#
# Licensed under the MIT License

[Unit]
Description=Initialize Slurm accounting associations
Requires=slurmdbd.service
PartOf=slurmdbd.service
After=slurmdbd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/mqt-slurm-accounting
RemainAfterExit=yes
Restart=on-failure
RestartSec=2
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
